@charset "UTF-8";

*{
  background-color: black;
  color: white;
}

#kiken{
  size: 100px;
  color: red;
}

header h1{
  float: center;  //タイトル中央ぞろえ
  color: red;
}

#ohuda article{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style-type: none;
}


//リンクのリ
スト
#move_scene ul{
  overflow: hidden;
}

#move_scene li{
  float: right; //固定幅で指定
  width: 156px;
  border-right: white 1px solod;  //右に線
  list-style-type: none;  //点消す
}



//リンク関連
#move_scene a{
  display: block; //ブロックへ
  padding: 10px 0;  //上下に余白
  text-align: center; //中央揃え
  background-color: dimgray;
  color: red;
}
#move_scene a: hover{
   //マウス乗せた処理
  background-color: red;
  color: black;
}
#move_scene a:after{
  clear: both;
}

#move_scene div.text{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px;
}
#move_scene div.img{
  display: table-cell;
  vertical-align: middle;
  background: url(img/ebi.png) no-repeat;
  width: 55px;
  height: 46px;
}
div.img#top{  background-position: 0 0px;}
div.img#story{background-position: 0 -46px;}
div.img#shop{ background-position: 0 -92px;}
div.img#spot{ background-position: 0 -138px;}
div.img#sory{ background-position: 0 -184px;}
